メイン コンテンツにスキップ
Google Classroom
Classroom
R5＿GP1A
ITエンジニア科ゲームプログラムコース3・4年制課程合同クラス
ホーム
カレンダー
登録科目
ToDo
R
R6後期_選択授業【ゲームプログラミング】705教室
Ｗ
Ｗｅｂアプリ制作
ＩＴエンジニア科２年（３・４年制課程）
キ
キャリアデザインI（GP2-4）
R6_2024年度 : GP2-4
2
2024 ｋｂｃ事務局より連絡
奨学金／住所変更届／施設・設備連絡（窓口9時～17時）
R
R6_GP2-4
ITエンジニア科ゲームプログラムコース4年制課程2年
(
(終了)プログラム設計(GP1A,GP1B)
2023年度 担当:山口雅樹
R
R5＿GP1A
ITエンジニア科ゲームプログラムコース3・4年制課程合同クラス
アーカイブされたクラス
設定
ストリーム
授業
メンバー
「R5＿GP1A ITエンジニア科ゲームプログラムコース3・4年制課程合同クラス」の授業
すべてのトピック
質問
次年度新入生歓迎会実施競技について
1
1 件のコメント
期限なし
完了 課題
外部イベントに参加してのレポート
期限: 2024/01/22
完了 課題
パソコンスピード検定　提出
期限なし
完了 課題
後期出席課題
1
1 件のコメント
期限: 2023/11/22 17:00
完了 課題
【第2回】文字入力スピード検定　提出場所
期限なし
資料
KBC_ApexCup　観戦用YouTubeの案内
最終編集: 2023/08/18
資料
【展覧会】Cygames展 Artworks　のご案内
投稿日: 2023/08/15
完了 課題
【第一回】文字入力スピード検定保存場所
期限なし
プログラミング言語Ⅱ
プログラミング言語Ⅱ
資料
22-10_例外処理
投稿日: 2023/12/01
完了 課題
22-9_thisとoperator
期限なし
資料
22-8_初期化子リスト
投稿日: 2023/11/28
完了 課題
22-7_オーバーロード
期限なし
完了 課題
22-6_静的メンバ
期限なし
資料
22-5_constメンバ関数
最終編集: 2023/11/14
完了 課題
22‐4_カプセル化
期限なし
完了 課題
22-3_newとdelete
期限なし
完了 課題
22-2_コンストラクタとデストラクタ
期限なし
完了 課題
22-1_ゲームプログラムとC++
期限なし
ゲームエンジン実習
ゲームエンジン実習
資料
linetrace
投稿日: 2024/04/09
完了 課題
【ｹﾞｰﾑｴﾝｼﾞﾝ実習】制作物提出
期限: 2024/02/21 17:00
資料
Unreal Engine関連の情報
最終編集: 2024/01/24
完了 課題
UE4　制作物提出
期限: 2023/12/15 17:00
資料
ゲームエンジン実習　進捗シート
投稿日: 2023/10/18
ゲーム数学
ゲーム数学
完了 課題
ゲーム数学　まとめの試験
期限: 2024/02/22
完了 課題
行列・力学　練習問題
期限: 2024/02/08
資料
力学
投稿日: 2024/01/10
完了 課題
ゲーム業界大解剖！～ゲーム制作の基礎知識と攻略法について～
期限なし
完了 課題
ゲームプラグラマを目指す前に知っておきたい数学を聞いての感想
期限: 2023/11/29
資料
行列
最終編集: 2023/11/15
完了 課題
ベクトル練習問題解答用紙
期限なし
資料
ベクトル
投稿日: 2023/10/31
課題
三角比・三角関数　練習問題解答用紙
期限なし
資料
三角比・三角関数
投稿日: 2023/10/17
池村先生特別講座
池村先生特別講座
資料
【第6回講座】ゲームデザインのリバースエンジニアリング
最終編集: 2024/01/12
資料
【第5回講座】ゲームデザインのリバースエンジニアリング
最終編集: 2023/12/08
資料
【第4回講座】ゲームデザインのリバースエンジニアリング
1
1 件のコメント
最終編集: 2023/11/30
資料
【第3回講座】ゲームデザインのリバースエンジニアリング
最終編集: 2023/10/18
完了 課題
【第2回】特別授業の課題について
期限: 2023/09/30 23:59
資料
【第2回講座資料】ゲームデザインのリバースエンジニアリング
3
3 件のコメント
最終編集: 2023/10/18
資料
【第1回講座資料】ゲームデザインのリバースエンジニアリング 　#01ゲーム開発の土台構築
1
1 件のコメント
最終編集: 2023/10/18
資料
【特別講座】ゲームデザインにおけるリバースエンジニアリング
投稿日: 2023/08/21
プログラミング実習
プログラミング実習
資料
アクションゲームの概念について
最終編集: 2024/02/07
完了 課題
ゲームジャム事前準備
期限: 2024/02/02 17:00
完了 課題
03_テトリスを作成する
期限: 2024/01/08 17:00
完了 課題
02_マッチ３を作成する
期限: 2023/08/31 23:59
資料
01_Gitとは
最終編集: 2023/07/03

プログラミング実習_01
Google スライド

gitignoreの中身(VisualStudio版).txt
テキスト
資料
00_導入
投稿日: 2023/07/03
プログラミング言語
プログラミング言語
完了 課題
前期課題
期限: 2023/10/06 17:00
資料
98_C言語2級対策
最終編集: 2023/08/21
資料
11_ファイル入出力
最終編集: 2023/08/18
資料
10_構造体
投稿日: 2023/08/10
資料
09_ビット演算
投稿日: 2023/08/08
課題
台風課題
期限: 2023/08/07 8:59
資料
08_ポインタ
投稿日: 2023/07/24
資料
07_関数
投稿日: 2023/07/18
資料
97_C言語検定3級対策
投稿日: 2023/05/18
資料
06_定数
投稿日: 2023/05/16
夏休み特別講座
夏休み特別講座
資料
【特別講座②】アンケートのお願い
投稿日: 2023/09/22
資料
【特別講座②】ゲームにおける物理・数学の利用 に関する連絡事項
投稿日: 2023/09/10
資料
【特別講座①】アンケートのお願い
投稿日: 2023/09/06
資料
【特別講座①】ゲーム研究に関する連絡事項
投稿日: 2023/09/01
資料
夏休み特別講座のご案内
投稿日: 2023/08/15
Excel
Excel
資料
【締め切り：11月17日（金）】Excel検定　実施日：12月14日（木）
1
1 件のコメント
投稿日: 2023/11/13
完了 課題
【依頼】Excel検定の解答フォルダ提出
期限: 2023/08/31 12:30
課題
受験システム問題７
期限なし
完了 課題
受験システム問題６
期限なし
完了 課題
受験システム問題５
期限なし
完了 課題
受験システム問題4
期限なし
課題
受験システム問題３
1
1 件のコメント
期限: 2023/08/24
完了 課題
受験システム問題2
期限: 2023/08/22
完了 課題
受験システム問題１
期限: 2023/08/21
資料
Excel　総合問題
投稿日: 2023/08/18
ゲーム設計基礎
ゲーム設計基礎
完了 課題
最終課題　企画から制作まで
期限なし
完了 課題
スノボーレーシング　提出
期限なし
完了 課題
忍者の居合
期限なし
完了 課題
密林フィッシング
期限なし
完了 課題
イッキウチコロシアム　提出
期限: 2023/05/26
完了 課題
爆撃ハンター　提出
期限: 2023/05/16
完了 課題
月面OMOCHI探査隊　提出課題
期限: 2023/05/09
完了 課題
杜の射撃訓練　オリジナルバージョン提出
期限: 2023/04/22
文字入力
文字入力
資料
【朝の文字入力練習】
投稿日: 2023/05/22
オススメゲーム
オススメゲーム
資料
6月　オススメゲーム
1
1 件のコメント
投稿日: 2023/08/07
資料
５月　オススメゲーム
1
1 件のコメント
最終編集: 2023/05/13
配布物
配布物
資料
個人別出席率
2
2 件のコメント
投稿日: 2023/11/10
資料
台風時の授業対応について
投稿日: 2023/07/31
資料
文字入力練習サイト一覧
投稿日: 2023/04/17
資料
【年間スケジュール】【カリキュラムスケジュール】【3・4年課程カリキュラム図】
1
1 件のコメント
最終編集: 2023/04/18
行事・イベント
行事・イベント
資料
【案内】9/27（水）実施_ビーチパーティーの情報です
投稿日: 2023/09/26
資料
7/20(木)実施　金融セミナー
投稿日: 2023/07/20
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# outputlog text
Log.txt

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd
gitignoreの中身(VisualStudio版).txt
gitignoreの中身(VisualStudio版).txt を表示しています。